<div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <footer id="footer-bar" class="row">
        <div class="container">
            <p id="footer-copyright" class="col-12">
                Powered by Sardar.
            </p>
        </div>
    </footer>
</div>