<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CHE Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>


<div class="container">
    <br><br><br>
    <center>
    <h2><label>CHEEditor Form</label></h2>
    <form method="post" th:action="@{addClass}" th:object="${cheClassViewModel}">
        <input type="hidden" th:field="*{id}"/>
        <table cellpadding="5">
            <tr>
                <td>Cid</td>
                <td><input type="text" th:field="*{cid}" placeholder="Enter Cid" required/></td>
            </tr>
            <tr>
                <td>Pid</td>
                <td><input type="text" th:field="*{pid}" placeholder="Enter Pid"/></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}" placeholder="Enter Class Name" required/></td>
            </tr>
            <tr>
                <td>IsAbstract</td>
                <td>
                    <select th:field="*{isAbstract}" class="form-control">
                        <option value=0>No</option>
                        <option value=1>Yes</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td><label><a th:href="@{listAll}">View List</a></label></td>
                <td colspan="2" align="right"><input type="submit" value="Add Class" class="btn btn-primary btn-large"/></td>
            </tr>

        </table>
    </form>
    </center>
</div>

<h1 th:text="${error}"></h1>


</body>
</html>