<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classes List</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <br>
    <h1 th:text="${result}"> </h1>
    <br><br>
    <label><a th:href="@{/cheditor/api/}">Add New Class</a></label>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Cid</th>
            <th>Name</th>
            <th>Pid</th>
            <th>Is Abstract</th>
            <th colspan="1" style="text-align:center;">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="class : ${classList}">
            <td th:text="${class.getCid()}"></td>
            <td th:text="${class.getName()}"></td>
            <td th:text="${class.getPid()}"></td>
            <td th:text="${class.isAbstract()}"></td>
            <td style="text-align:center;"><label><a  th:href="@{delete(id=${class.getCid()})}">Delete</a></label></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>